# see https://github.com/rzwitserloot/lombok/issues/745
# Use this pattern to tell lombok to copy any annotation on flieds to the constructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
